project-archives/autonomous-ci-cd-pipeline/workflows/autonomous-ci-cd-pipeline.sanitized.json
{
  "name": "Autonomous CI/CD Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "raw",
        "filters": {
          "custom": "contains(subject, 'Code Submission')",
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        -176
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Ingestion Gateway (Code Commits)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1552,
        -176
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Batch Orchestrator"
    },
    {
      "parameters": {
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "isRead": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1296,
        -160
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Clear Ingestion Queue (Mark Read)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.extracted_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a Principal Staff Engineer conducting an automated CI/CD code review.\n\nYOUR TASKS:\n1. Auto-Detect: Instantly identify the programming language.\n2. Analyze: Review the code for CRITICAL vulnerabilities, memory leaks, Big-O inefficiencies, and native syntax errors.\n3. Rewrite: Provide the fully corrected, production-ready version of the code.\n\nSTRICT PASS/FAIL RULE:\n- If the code has actual logic bugs, memory leaks, O(n^2) loops, or actual missing brackets, you MUST set status to \"REJECT\".\n- If the basic logic is sound, you MUST set status to \"PASS\".\n\nANTI-PEDANTRY LOCK: Do NOT reject code because it lacks enterprise features (AbortControllers, exponential backoff, or advanced logging). A standard async fetch is a PASS.\n\nIf status is \"PASS\", set \"reason\" to \"Code is robust and production-ready.\" and output the clean code in \"fixed_code\".\n\nOUTPUT FORMAT: You MUST output strictly valid JSON with no markdown formatting. \nSchema: { \"language_detected\": \"string\", \"status\": \"PASS or REJECT\", \"reason\": \"string\", \"fixed_code\": \"string\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -848,
        -160
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Autonomous QA Architect"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED_WEBHOOK_ID",
              "leftValue": "={{ JSON.parse($json.text).status }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        -160
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Quality Check Gate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        -256
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Execute Live Deployment"
    },
    {
      "parameters": {
        "sendTo": "={{$(\"Batch Orchestrator\").item.json.from.emailAddress.address}}",
        "subject": "✅ Deployment Successful",
        "message": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; color: #24292f; line-height: 1.5; max-width: 600px; margin: 0; border: 1px solid #d0d7de; border-radius: 6px; padding: 24px; background-color: #ffffff;\">\n  \n  <h2 style=\"color: #1a7f37; margin-top: 0; border-bottom: 1px solid #d0d7de; padding-bottom: 8px;\">\n    ✅ Deployment Successful\n  </h2>\n  \n  <p style=\"font-size: 15px;\">Your recent code commit passed all autonomous QA checks and has been instantly routed to production.</p>\n\n  <div style=\"background-color: #dafbe1; color: #1a7f37; padding: 16px; border-left: 4px solid #1f883d; border-radius: 4px; font-size: 14px; margin-top: 24px; margin-bottom: 8px;\">\n    <strong>System Report:</strong> Code is clean, robust, and optimized. Zero critical vulnerabilities, memory leaks, or syntax errors detected.\n  </div>\n\n  <p style=\"font-size: 12px; color: #57606a; margin-top: 24px; border-top: 1px solid #d0d7de; padding-top: 16px;\">\n    Automated action performed by the Autonomous CI/CD Engine.\n  </p>\n  \n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -48,
        -32
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Dispatch Success Signal"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Batch Orchestrator').item.json.from.emailAddress.address }}",
        "subject": "🚨 Action Required: Deployment Failed",
        "message": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; color: #24292f; line-height: 1.5; max-width: 600px; margin: 0; border: 1px solid #d0d7de; border-radius: 6px; padding: 24px; background-color: #ffffff;\">\n  \n  <h2 style=\"color: #cf222e; margin-top: 0; border-bottom: 1px solid #d0d7de; padding-bottom: 8px;\">\n    🚨 Action Required: Deployment Failed\n  </h2>\n  \n  <p style=\"font-size: 15px;\">Your recent code commit failed the autonomous quality check.</p>\n\n  <h3 style=\"font-size: 14px; margin-bottom: 8px; color: #57606a; text-transform: uppercase; letter-spacing: 0.5px;\">\n    Reason for Failure\n  </h3>\n  <div style=\"background-color: #ffebe9; color: #a40e26; padding: 12px; border-left: 4px solid #cf222e; border-radius: 4px; font-size: 14px; margin-bottom: 24px;\">\n    {{ JSON.parse($('Autonomous QA Architect').item.json.text.replace(/```json/gi, '').replace(/```/g, '').trim()).reason }}\n  </div>\n\n  <h3 style=\"font-size: 14px; margin-bottom: 8px; color: #57606a; text-transform: uppercase; letter-spacing: 0.5px;\">\n    Corrected Code\n  </h3>\n  <p style=\"font-size: 13px; color: #57606a; margin-top: 0;\">Please review the automated fix below and resubmit your code.</p>\n\n  <pre style=\"background-color: #f6f8fa; color: #24292f; border: 1px solid #d0d7de; border-radius: 6px; padding: 16px; overflow-x: auto; font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace; font-size: 13px; line-height: 1.45;\">{{ JSON.parse($('Autonomous QA Architect').item.json.text.replace(/```json/gi, '').replace(/```/g, '').trim()).fixed_code }}</pre>\n  \n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -272,
        -64
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Dispatch Rejection & Fix"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -848,
        64
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "OpenAI Reasoning Engine"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "body.content",
        "extractionValues": {
          "values": [
            {
              "key": "extracted_text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1072,
        -160
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Sanitize Email Payload"
    }
  ],
  "pinData": {},
  "connections": {
    "Ingestion Gateway (Code Commits)": {
      "main": [
        [
          {
            "node": "Batch Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Orchestrator": {
      "main": [
        [],
        [
          {
            "node": "Clear Ingestion Queue (Mark Read)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Ingestion Queue (Mark Read)": {
      "main": [
        [
          {
            "node": "Sanitize Email Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autonomous QA Architect": {
      "main": [
        [
          {
            "node": "Quality Check Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Check Gate": {
      "main": [
        [
          {
            "node": "Execute Live Deployment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dispatch Rejection & Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Live Deployment": {
      "main": [
        [
          {
            "node": "Dispatch Success Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Success Signal": {
      "main": [
        [
          {
            "node": "Batch Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Rejection & Fix": {
      "main": [
        [
          {
            "node": "Batch Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Reasoning Engine": {
      "ai_languageModel": [
        [
          {
            "node": "Autonomous QA Architect",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Email Payload": {
      "main": [
        [
          {
            "node": "Autonomous QA Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "REDACTED_WEBHOOK_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e25d12e60cf7359738406d8321b02cde66c55b781ca4b27a9a579b308cbc702"
  },
  "id": "49MlfcuuprKE8QMT",
  "tags": []
}
