project-archives/autonomous-sdr-engine/workflows/autonomous-sdr-engine.sanitized.json
{
  "name": "Autonomous SDR Engine: Executive Ghostwriting Pipeline",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ",
          "mode": "list",
          "cachedResultName": "SDR Production Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1612634057,
          "mode": "list",
          "cachedResultName": "apollo-contacts-export ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ/edit#gid=1612634057"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        -112
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "CRM: Ingest Apollo Leads"
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab items from the FILTER node, not Apify, to guarantee 1:1 index matching\nconst originalItems = $('Filter: Drop Reposts').all();\n\n// 2. Grab ALL items from Agent 1\nconst bouncerItems = $('Agent 1: QA Bouncer1').all();\n\n// 3. Create an empty bucket\nlet badPosts = [];\n\n// 4. Loop through safely\nfor (let i = 0; i < bouncerItems.length; i++) {\n    \n    // Check if the AI graded it as poor\n    if (bouncerItems[i].json.text === 'POOR_FORMATTING') {\n        \n        // Because we reference the Filter node, index [i] will match perfectly\n        // NOTE: Make sure Apify outputs \"text\" or \"content\". Standard is usually \"text\".\n        let originalText = originalItems[i].json.text || originalItems[i].json.content;\n        \n        if (originalText) {\n            badPosts.push(originalText);\n        }\n    }\n}\n\n// 5. Merge all the bad posts together\nconst mergedText = badPosts.join('\\n\\n === NEXT POST === \\n\\n');\n\n// 6. Output the merged text. If badPosts is empty, output a fallback to prevent pipeline crashes.\nif (badPosts.length === 0) {\n    return [{ json: { combined_posts: \"NO_POOR_POSTS_FOUND\" } }];\n}\n\nreturn [\n  {\n    json: {\n      combined_posts: mergedText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -96
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Merge Posts (Code)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ",
          "mode": "list",
          "cachedResultName": "SDR Production Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1612634057,
          "mode": "list",
          "cachedResultName": "apollo-contacts-export ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ/edit#gid=1612634057"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop: Process 1-by-1').item.json.row_number }}",
            "Status": "Processed"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name for Emails",
              "displayName": "Company Name for Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email Source",
              "displayName": "Primary Email Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email Verification Source",
              "displayName": "Primary Email Verification Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Confidence",
              "displayName": "Email Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email Catch-all Status",
              "displayName": "Primary Email Catch-all Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email Last Verified At",
              "displayName": "Primary Email Last Verified At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority",
              "displayName": "Seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Departments",
              "displayName": "Departments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub Departments",
              "displayName": "Sub Departments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Owner",
              "displayName": "Contact Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Work Direct Phone",
              "displayName": "Work Direct Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Home Phone",
              "displayName": "Home Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Phone",
              "displayName": "Mobile Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Corporate Phone",
              "displayName": "Corporate Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Other Phone",
              "displayName": "Other Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Do Not Call",
              "displayName": "Do Not Call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lists",
              "displayName": "Lists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Contacted",
              "displayName": "Last Contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account Owner",
              "displayName": "Account Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "# Employees",
              "displayName": "# Employees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Person Linkedin Url",
              "displayName": "Person Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Linkedin Url",
              "displayName": "Company Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Url",
              "displayName": "Facebook Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter Url",
              "displayName": "Twitter Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company City",
              "displayName": "Company City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company State",
              "displayName": "Company State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Country",
              "displayName": "Company Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Phone",
              "displayName": "Company Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Technologies",
              "displayName": "Technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Annual Revenue",
              "displayName": "Annual Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Funding",
              "displayName": "Total Funding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latest Funding",
              "displayName": "Latest Funding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latest Funding Amount",
              "displayName": "Latest Funding Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Raised At",
              "displayName": "Last Raised At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subsidiary of",
              "displayName": "Subsidiary of",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subsidiary of (Organization ID)",
              "displayName": "Subsidiary of (Organization ID)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Open",
              "displayName": "Email Open",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Bounced",
              "displayName": "Email Bounced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Replied",
              "displayName": "Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Demoed",
              "displayName": "Demoed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number of Retail Locations",
              "displayName": "Number of Retail Locations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apollo Contact Id",
              "displayName": "Apollo Contact Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apollo Account Id",
              "displayName": "Apollo Account Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secondary Email",
              "displayName": "Secondary Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secondary Email Source",
              "displayName": "Secondary Email Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secondary Email Status",
              "displayName": "Secondary Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secondary Email Verification Source",
              "displayName": "Secondary Email Verification Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tertiary Email",
              "displayName": "Tertiary Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tertiary Email Source",
              "displayName": "Tertiary Email Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tertiary Email Status",
              "displayName": "Tertiary Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tertiary Email Verification Source",
              "displayName": "Tertiary Email Verification Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualify Contact",
              "displayName": "Qualify Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        240
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "CRM: Mark as Processed"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ",
          "mode": "list",
          "cachedResultName": "SDR Production Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1976510713,
          "mode": "list",
          "cachedResultName": "Outreach Inbox",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ/edit#gid=1976510713"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Loop: Process 1-by-1').item.json[\"First Name\"] }}{{ $('Loop: Process 1-by-1').item.json[\"Last Name\"] }}",
            " Email": "={{ $('Loop: Process 1-by-1').item.json.Email }}",
            "LinkedIn ": "={{ $('Loop: Process 1-by-1').item.json[\"Person Linkedin Url\"] }}",
            "AI Pitch": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Email",
              "displayName": " Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn ",
              "displayName": "LinkedIn ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Pitch",
              "displayName": "AI Pitch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        192
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "CRM: Log Lead & Pitch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ",
          "mode": "list",
          "cachedResultName": "SDR Production Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1612634057,
          "mode": "list",
          "cachedResultName": "apollo-contacts-export ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LQAfGNPA-u8fTrbO0n7-XDvjVTecUYpXhA9S8LNAVWQ/edit#gid=1612634057"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop: Process 1-by-1').item.json.row_number }}",
            "Status": "REJECTED"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name for Emails",
              "displayName": "Company Name for Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email Source",
              "displayName": "Primary Email Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email Verification Source",
              "displayName": "Primary Email Verification Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Confidence",
              "displayName": "Email Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email Catch-all Status",
              "displayName": "Primary Email Catch-all Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email Last Verified At",
              "displayName": "Primary Email Last Verified At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority",
              "displayName": "Seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Departments",
              "displayName": "Departments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sub Departments",
              "displayName": "Sub Departments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Owner",
              "displayName": "Contact Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Work Direct Phone",
              "displayName": "Work Direct Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Home Phone",
              "displayName": "Home Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Phone",
              "displayName": "Mobile Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Corporate Phone",
              "displayName": "Corporate Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Other Phone",
              "displayName": "Other Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Do Not Call",
              "displayName": "Do Not Call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lists",
              "displayName": "Lists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Contacted",
              "displayName": "Last Contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account Owner",
              "displayName": "Account Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "# Employees",
              "displayName": "# Employees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Person Linkedin Url",
              "displayName": "Person Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Linkedin Url",
              "displayName": "Company Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Url",
              "displayName": "Facebook Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter Url",
              "displayName": "Twitter Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company City",
              "displayName": "Company City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company State",
              "displayName": "Company State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Country",
              "displayName": "Company Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Phone",
              "displayName": "Company Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Technologies",
              "displayName": "Technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Annual Revenue",
              "displayName": "Annual Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Funding",
              "displayName": "Total Funding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latest Funding",
              "displayName": "Latest Funding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latest Funding Amount",
              "displayName": "Latest Funding Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Raised At",
              "displayName": "Last Raised At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subsidiary of",
              "displayName": "Subsidiary of",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subsidiary of (Organization ID)",
              "displayName": "Subsidiary of (Organization ID)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Open",
              "displayName": "Email Open",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Bounced",
              "displayName": "Email Bounced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Replied",
              "displayName": "Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Demoed",
              "displayName": "Demoed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number of Retail Locations",
              "displayName": "Number of Retail Locations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apollo Contact Id",
              "displayName": "Apollo Contact Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apollo Account Id",
              "displayName": "Apollo Account Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secondary Email",
              "displayName": "Secondary Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secondary Email Source",
              "displayName": "Secondary Email Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secondary Email Status",
              "displayName": "Secondary Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secondary Email Verification Source",
              "displayName": "Secondary Email Verification Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tertiary Email",
              "displayName": "Tertiary Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tertiary Email Source",
              "displayName": "Tertiary Email Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tertiary Email Status",
              "displayName": "Tertiary Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tertiary Email Verification Source",
              "displayName": "Tertiary Email Verification Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualify Contact",
              "displayName": "Qualify Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        128
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "CRM: Mark as Rejected"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        -112
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Loop: Process 1-by-1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/harvestapi~linkedin-profile-posts/run-sync-get-dataset-items",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrls\": [\n    \"{{ $json['Person Linkedin Url'] }}\"\n  ],\n  \"maxPosts\": 5,\n  \"extractProfile\": true\n}",
        "options": {
          "timeout": 6000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        -80
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Apify: Scrape Recent Posts (Max 5)",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED_WEBHOOK_ID",
              "leftValue": "={{ $json.repostedAt ? 'REPOST' : 'ORIGINAL' }}",
              "rightValue": "ORIGINAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1280,
        -80
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Filter: Drop Reposts"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED_WEBHOOK_ID",
              "leftValue": "={{ $json.text }}",
              "rightValue": "POOR_FORMATTING",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        -80
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Gate: Is Formatting Poor?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2160,
        48
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Agent 2: Pitch Architect"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite structural editor and B2B ghostwriter. I will give you a LinkedIn post. I want you to evaluate its formatting and readability.\n\nLook for these specific red flags:\n\nGiant \"walls of text\" with no line breaks.\n\nWeak hooks or opening lines.\n\nGeneric, robotic corporate phrasing.\n\nReposts of other company's links with little original commentary.\n\nIf the post is well-formatted, easy to read, or contains no original text, reply with exactly one word: PASS.\nIf the post suffers from walls of text, bad hooks, or corporate fluff, reply with exactly one word: POOR_FORMATTING.  \n {{ $json.content }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1440,
        -80
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Agent 1: QA Bouncer1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite B2B Executive Ghostwriter. I am going to give you a poorly formatted LinkedIn post written by a founder.\n\nYour job is to write a highly personalized, 2-sentence outreach pitch that I can send to them.\n\nRule 1: Read the provided post carefully and identify the exact core subject the founder is discussing (e.g., climate tech, wetland regulations, data collection). Naturally name that exact subject in your first sentence. Do not invent or guess topics.\nRule 2: In the second sentence, directly state that their current formatting is hiding their expertise, and offer to help them restructure their ideas to build authority and drive inbound leads.\nRule 3: Do not include any conversational filler, introductory text, or pleasantries. Output strictly the two sentences and nothing else.\n\nThe Founder's Post:\n{{ $json.combined_posts }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2160,
        -96
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Agent 2: Pitch Architect1",
      "executeOnce": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        736,
        -368
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Trigger: Mid Night on Friday"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1440,
        112
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Agent 1: QA Bouncer"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        -416
      ],
      "id": "REDACTED_WEBHOOK_ID",
      "name": "Wait: API Throttle (5s)"
    }
  ],
  "pinData": {},
  "connections": {
    "CRM: Ingest Apollo Leads": {
      "main": [
        [
          {
            "node": "Loop: Process 1-by-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Posts (Code)": {
      "main": [
        [
          {
            "node": "Agent 2: Pitch Architect1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: Log Lead & Pitch": {
      "main": [
        [
          {
            "node": "CRM: Mark as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Process 1-by-1": {
      "main": [
        [],
        [
          {
            "node": "Wait: API Throttle (5s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify: Scrape Recent Posts (Max 5)": {
      "main": [
        [
          {
            "node": "Filter: Drop Reposts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Drop Reposts": {
      "main": [
        [
          {
            "node": "Agent 1: QA Bouncer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Is Formatting Poor?": {
      "main": [
        [
          {
            "node": "Merge Posts (Code)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CRM: Mark as Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2: Pitch Architect": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 2: Pitch Architect1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CRM: Mark as Rejected": {
      "main": [
        [
          {
            "node": "Loop: Process 1-by-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM: Mark as Processed": {
      "main": [
        [
          {
            "node": "Loop: Process 1-by-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1: QA Bouncer1": {
      "main": [
        [
          {
            "node": "Gate: Is Formatting Poor?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2: Pitch Architect1": {
      "main": [
        [
          {
            "node": "CRM: Log Lead & Pitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Mid Night on Friday": {
      "main": [
        [
          {
            "node": "CRM: Ingest Apollo Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1: QA Bouncer": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1: QA Bouncer1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait: API Throttle (5s)": {
      "main": [
        [
          {
            "node": "Apify: Scrape Recent Posts (Max 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "REDACTED_WEBHOOK_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1b55260dc5d336540e6efbec7538db2e3cdd4cddd23d84dbc9a4ad668bd6217"
  },
  "id": "A598MYC4G2pVgFa9",
  "tags": []
}
